.header {
	text-align: center;
	margin-bottom: 20vh;
}

.header h1 {
	font-size: 5em;
	margin: 0;
}

.header h1 strong {
	color: var(--rose);
}

.header h2 {
	font-weight: 100;
	color: var(--muted);
}

.header h2 strong {
	color: var(--foam);
}

.cardWrapper {
	width: fit-content;
	margin: auto;
}

.playingCard {
	border: 2px solid var(--rose);
	background: linear-gradient(var(--overlay), var(--pine));
	height: 40vh;
	width: 350px;
	max-width: 80vw;
	margin: auto;
	border-radius: 1em;
	box-shadow: 0 10px 20px rgba(0, 0, 0, 0.2), 0 6px 6px rgba(0, 0, 0, 0.15);
	overflow: hidden;
	position: relative;
	color: var(--gold);
	display: flex;
	justify-content: center;
	align-items: center;
}

.cardWrapper:hover .playingCard {
	color: var(--foam);
	background: linear-gradient(var(--overlay), var(--love));
	cursor: pointer;
}

.cardWrapper:hover p.indicator {
	opacity: 1;
	color: var(--love);
	transform: translateY(0);
	z-index: 10;
}

p.indicator {
	transition: all 0.5s ease-in-out;
	opacity: 0.2;
	margin: 0;
	color: var(--gold);
	font-size: 3em;
	font-weight: light;
	text-align: center;
	margin: auto;
	margin-bottom: 10px;
	transform: translateY(100%);
	z-index: -10;
}

.playingCard svg * {
	color: currentColor;
	stroke: currentColor;
}

.playingCard .center svg {
	height: 100px;
	width: 100px;
}

.playingCard .corner {
	position: absolute;
	display: flex;
	flex-direction: column;
	align-items: center;
	padding: 15px;
	line-height: 1;
	gap: 5px;
}

.playingCard .corner span {
	font-weight: bold;
	font-size: x-large;
}

.playingCard .corner svg {
	width: 1.8em;
	height: 1.8em;
}

.playingCard .topLeft {
	top: 0;
	left: 0;
}

.playingCard .btmRight {
	bottom: 0;
	right: 0;
	transform: rotate(180deg);
}
