/*! modern-normalize v3.0.1 | MIT License | https://github.com/sindresorhus/modern-normalize */

/*
Fonts
========
*/
@font-face {
	font-family: "manrope";
	src: url('assets/fonts/manrope/Manrope-Regular.woff2'),
		url('assets/fonts/manrope/Manrope-Medium.woff2'),
		url('assets/fonts/manrope/Manrope-Light.woff2'),
		url('assets/fonts/manrope/Manrope-ExtraLight.woff2'),
		url('assets/fonts/manrope/Manrope-Bold.woff2'),
		url('assets/fonts/manrope/Manrope-ExtraBold.woff2');
}

/*
Document
========
*/

/**
Use a better box model (opinionated).
*/

*,
::before,
::after {
	box-sizing: border-box;
}

/**
1. Improve consistency of default fonts in all browsers. (https://github.com/sindresorhus/modern-normalize/issues/3)
2. Correct the line height in all browsers.
3. Prevent adjustments of font size after orientation changes in iOS.
4. Use a more readable tab size (opinionated).
*/

html {
	font-family:
		manrope,
		'Segoe UI',
		Roboto,
		Helvetica,
		Arial,
		sans-serif,
		'Apple Color Emoji',
		'Segoe UI Emoji';
	/* 1 */
	line-height: 1.15;
	/* 2 */
	-webkit-text-size-adjust: 100%;
	/* 3 */
	tab-size: 4;
	/* 4 */

	/* theme */
	background: var(--bg);
	color: var(--text);
}

/*
Sections
========
*/

/**
Remove the margin in all browsers.
*/

body {
	height: 100vh;
	margin: 0;
	padding: 1em;
}

/*
Text-level semantics
====================
*/

/**
Add the correct font weight in Chrome and Safari.
*/

b,
strong {
	font-weight: bolder;
}

/**
1. Improve consistency of default fonts in all browsers. (https://github.com/sindresorhus/modern-normalize/issues/3)
2. Correct the odd 'em' font sizing in all browsers.
*/

code,
kbd,
samp,
pre {
	font-family:
		ui-monospace,
		SFMono-Regular,
		Consolas,
		'Liberation Mono',
		Menlo,
		monospace;
	/* 1 */
	font-size: 1em;
	white-space: pre;
	/* 2 */
}

h1 strong {
	color: var(--foam);
}

.muted {
	color: var(--muted);
}

/**
Add the correct font size in all browsers.
*/

small {
	font-size: 80%;
}

/**
Prevent 'sub' and 'sup' elements from affecting the line height in all browsers.
*/

sub,
sup {
	font-size: 75%;
	line-height: 0;
	position: relative;
	vertical-align: baseline;
}

sub {
	bottom: -0.25em;
}

sup {
	top: -0.5em;
}

/*
Tabular data
============
*/

/**
Correct table border color inheritance in Chrome and Safari. (https://issues.chromium.org/issues/40615503, https://bugs.webkit.org/show_bug.cgi?id=195016)
*/

table {
	border-color: currentcolor;
}

/*
Forms
=====
*/

/**
1. Change the font styles in all browsers.
2. Remove the margin in Firefox and Safari.
*/

button,
input,
optgroup,
select,
textarea {
	font-family: inherit;
	/* 1 */
	font-size: 100%;
	/* 1 */
	line-height: 1.15;
	/* 1 */
	margin: 0;
	/* 2 */
}

input {
	background-color: var(--overlay);
	border: none;
	padding: 0.5em;
	border-radius: 5px;
	color: var(--text);
	outline: none;
}

input:focus-visible,
input:focus {
	outline: 2px solid var(--iris);
}

hr {
	background: var(--border);
	border: none;
	height: 1px;
}

/**
Correct the inability to style clickable types in iOS and Safari.
*/

button,
[type='button'],
[type='reset'],
[type='submit'] {
	-webkit-appearance: button;
	appearance: button;
}

/**
Style buttons
**/
.btn {
	padding: 0.5em 1em;
	border-radius: 0.2em;

	/* theme */
	border: none;
	border-bottom: 1px solid var(--rose);
	background: var(--surface);
	color: var(--rose);
	transition: all 0.4s ease-in-out;

	cursor: pointer;
}

.btn.primary {
	border-bottom: 2px solid var(--love);
	background: var(--rose);
	color: var(--bg);
}

.btn:hover {
	background-color: var(--rose);
	color: var(--bg);
}


/**
Remove the padding so developers are not caught out when they zero out 'fieldset' elements in all browsers.
*/

legend {
	padding: 0;
}

/**
Add the correct vertical alignment in Chrome and Firefox.
*/

progress {
	vertical-align: baseline;
}

/**
Correct the cursor style of increment and decrement buttons in Safari.
*/

::-webkit-inner-spin-button,
::-webkit-outer-spin-button {
	height: auto;
}

/**
1. Correct the odd appearance in Chrome and Safari.
2. Correct the outline style in Safari.
*/

[type='search'] {
	-webkit-appearance: textfield;
	/* 1 */
	outline-offset: -2px;
	/* 2 */
}

/**
Remove the inner padding in Chrome and Safari on macOS.
*/

::-webkit-search-decoration {
	-webkit-appearance: none;
}

/**
1. Correct the inability to style clickable types in iOS and Safari.
2. Change font properties to 'inherit' in Safari.
*/

::-webkit-file-upload-button {
	-webkit-appearance: button;
	/* 1 */
	font: inherit;
	/* 2 */
}

/*
Interactive
===========
*/

/*
Add the correct display in Chrome and Safari.
*/

summary {
	display: list-item;
}

/*
UI Elements
===========
*/
.pill {
	display: flex;
	align-items: center;
	border-radius: 1em;
	padding: 0.5em 0.7em;
	width: fit-content;
	border: 1px dashed currentColor;
	gap: 0.5em;
}

.pill.info {
	color: var(--iris);
}

.pill.attention {
	color: var(--gold);
}

.pill.success {
	color: var(--foam);
}

.glow {
	box-shadow: var(--rose) 0 0 4em 0.4em;
}

.row {
	display: flex;
	flex-direction: row;
	gap: 1em;
	align-items: center;
}

.hcenter {
	justify-content: center;
}

.pulse {
  animation: pulse-animation 2s infinite;
  box-shadow: 0px 0px 0.01px 0.01px currentColor;
  border-radius: 50%;
}

@keyframes pulse-animation {
  0% {
    box-shadow: 0 0 0 0px color-mix(currentcolor, transparent, 20%, 80%)
  }
  100% {
    box-shadow: 0 0 0 10px transparent
  }
}

/*
Theme
*/

:root {
	--bg: #232136;
	--surface: #2a273f;
	--overlay: #393552;
	--muted: #6e6a86;
	--subtle: #908caa;
	--text: #e0def4;
	--love: #eb6f92;
	--gold: #f6c177;
	--rose: #ea9a97;
	--pine: #3e8fb0;
	--foam: #9ccfd8;
	--iris: #c4a7e7;
	--border: #56526e;
}
