.roomContainer {
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 0.2rem;
    flex-direction: column;
}

.micButton {
    width: 64px;
    height: 64px;
    border-radius: 50%;
    border: none;
    background: #e2d1c3;
    color: #5c4033;
    font-size: 24px;
    cursor: pointer;
    transition: all 0.4s cubic-bezier(0.4, 0, 0.2, 1);
    position: relative;
    overflow: hidden;
}

.micButton:disabled {
    opacity: 0.5;
    cursor: not-allowed;
}

.micButton::before {
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background: rgba(92, 64, 51, 0.1);
    border-radius: 50%;
    transform: scale(0);
    transition: transform 0.4s cubic-bezier(0.4, 0, 0.2, 1);
}

.micButton:hover:not(:disabled) {
    transform: translateY(-4px);
    background: #fdfcfb;
}

.micButton:hover:not(:disabled)::before {
    transform: scale(1);
}

.micButton:active:not(:disabled) {
    transform: translateY(-2px);
    background: #fdfcfb;
}

.micButton.muted {
    background: #d4c4b7;
    color: #8c7b6f;
}

.status {
    font-size: 14px;
    font-weight: 500;
    margin: 8px 0;
    padding: 4px 12px;
    border-radius: 16px;
    background: rgba(255, 255, 255, 0.5);
    backdrop-filter: blur(10px);
    border: 1px solid rgba(0, 0, 0, 0.2);
}

@keyframes pulse {
    0% {
        box-shadow: 0 0 0 0 rgba(0, 149, 255, 0.8);
    }

    70% {
        box-shadow: 0 0 0 20px rgba(0, 149, 255, 0);
    }

    100% {
        box-shadow: 0 0 0 0 rgba(0, 149, 255, 0);
    }
}

.micButton:not(.muted):not(:disabled) {
    animation: pulse 2s infinite;
    background: #49bcff;
    color: white;
}

.micButton:not(.muted):not(:disabled)::after {
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background: linear-gradient(45deg,
            rgba(255, 255, 255, 0.1),
            rgba(255, 255, 255, 0.2));
    border-radius: 50%;
    animation: rotate 4s linear infinite;
}

@keyframes rotate {
    from {
        transform: rotate(0deg);
    }

    to {
        transform: rotate(360deg);
    }
}

.micButton.muted:hover:not(:disabled) {
    box-shadow:
        0 15px 25px rgba(100, 116, 139, 0.2),
        0 8px 8px rgba(100, 116, 139, 0.15),
        0 0 120px rgba(100, 116, 139, 0.15);
}

img.muted {
    filter: hue-rotate(0deg);
}

img:not(.muted) {
    filter: hue-rotate(180deg);
}